.home-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  
  .background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
  
  .content {
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
    top: 40%;
    transform: translateY(-50%);
  }
  .home-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  
  .background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
  
  .content {
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
    top: 40%;
    transform: translateY(-50%);
  }
  
  /* Big font title animation */
  .animate-title {
    font-size: 6rem;
    font-weight: bold;
    opacity: 0;
    animation: fadeInUp 2s ease-out forwards;
  }
  
  /* Simple animation for <h3> tag */
  .animate-line {
    font-size: 1.5rem;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 2.5s ease-out 0.5s forwards;
  }
  
  /* Keyframes for fadeInUp */
  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
    
  
/* body {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  } */